apiVersion: v1
kind: PersistentVolume
metadata:
    name: {{ PersistentVolume.name }}
    {% if PersistentVolume.annotations is defined %}
        {% include 'teamplateChunks/label.yaml' %}
    {% else %}
        <td id="error"> {{ RepoOutput[RepoName.index(repo)] }} </td>
    {% endif %}

    labels:
        {% for key, value in PersistentVolume.labels.iteritems() %}
            {{ key }}: {{ value }}
        {% endfor %}

    {% if PersistentVolume.annotations is defined %}
        {% include 'header.html' %}
    {% else %}
        <td id="error"> {{ RepoOutput[RepoName.index(repo)] }} </td>
    {% endif %}
    annotations:
        pv.beta.kubernetes.io/gid: "1234"
spec:
  storageClassName: manual
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data"