apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ deployment.name }}
  {% if deployment.labels is defined %}
    {%- with labels=deployment.labels %}
        {%- include "chunks/labels.j2" %}
    {%- endwith %}
  {%- endif %}
  {% if deployment.annotations is defined %}
    {%- with annotations=deployment.annotations %}
        {%- include "chunks/annotations.j2" %}
    {%- endwith %}
  {%- endif %}
spec:
  {% if deployment.replicas is defined %}replicas: {{ deployment.replicas }}{% endif %}
  {% if deployment.backoffLimit is defined %}backoffLimit: {{ deployment.backoffLimit }}{% endif %}
  {% if deployment.selector is defined and deployment.selector|list|length > 0 %}
    {%- with selector=deployment.selector %}
        {%- include "chunks/selector.j2" %}
    {%- endwith %}
  {%- endif %}
  template:
    {% if deployment.selector is defined and deployment.selector|list|length > 0 %}
      {%- with template=deployment.selector %}
          {%- include "chunks/metadata.j2" %}
      {%- endwith %}
    {%- endif %}
    spec:
      {% if deployment.restartPolicy is defined and deployment.restartPolicy in ['Never', 'Always', 'OnFailure'] %}restartPolicy: {{ deployment.restartPolicy }}{% endif %}
      {%- if deployment.volumes is defined and deployment.volumes|length > 0 %}
      volumes:
        {%- for item in deployment.volumes if item|list|length > 0 %}
          {%- filter indent(width=4) %}
            {%- with volume=item %}
                {%- include "chunks/volumes.j2" %}
            {%- endwith %}
          {%- endfilter %}
        {%- endfor %}
      {%- endif %}
      {%- if deployment.containers is defined and deployment.containers|length > 0 %}
      containers:
        {%- for item in deployment.containers if item|list|length > 0 %}
          {%- filter indent(width=4) %}
            {%- with container=item %}
                {%- include "chunks/container.j2" %}
            {%- endwith %}
          {%- endfilter %}
        {%- endfor %}
      {%- endif %}
